* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  height: 100%;
  overflow: hidden;
}

.score {
  text-align: center;
  font-size: 36px;
  margin-bottom: 2rem;
}

.playground > ul {
  border: 1px solid #333;
}

.playground > ul > li > ul {
  display: flex;
}

.playground > ul > li > ul > li {
  width: 25px;
  height: 25px;
  outline: 1px solid #ccc;
}